<a href="https://colab.research.google.com/github/Shantanu9326/Bank-Dataset/blob/master/SIT742Task2_Shantanu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SIT742: Modern Data Science 
**(Assessment Task 02: Bank Marketing Data Analytics)**

---
- Materials in this module include resources collected from various open-source online repositories.
- You are free to use, change and distribute this package.

Prepared by **SIT742 Teaching Team**


---

**Project Group Information:**

- Names:
- Student IDs:
- Emails:

---

# 1.Import Spark

In [1]:
!pip install wget
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
!tar xf spark-2.4.0-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

# 2.Read and check data

In [0]:
import wget
link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/bank.csv'
DataSet = wget.download(link_to_data)

In [5]:
!ls

bank.csv  sample_data  spark-2.4.0-bin-hadoop2.7  spark-2.4.0-bin-hadoop2.7.tgz

In [6]:
# Import the 'bank.csv' as a Spark dataframe and name it as df
spark = SparkSession.builder.appName('ml-bank').getOrCreate()
df = spark.read.csv('bank.csv', header = True, inferSchema = True) 
df.printSchema() 
df.show(5)

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|       job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|    admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|    admin.|married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41|technician|married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|  services|married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|    admin.|married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
+---+----------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 5 rows

In [7]:
# Check data distribution
# You may use printSchema()
df.describe()

DataFrame[summary: string, age: string, job: string, marital: string, education: string, default: string, balance: string, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, deposit: string]

In [8]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [9]:
df.columns

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'deposit']

In [10]:
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

# 3.Select features

In [0]:
#Select features ('age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit') as df2
df2=df.select(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit'])

In [12]:
df2.columns

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'deposit']

In [0]:
df2.createOrReplaceTempView("bank")

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SQL').getOrCreate()
sql_results=spark.sql("SELECT * FROM bank WHERE job!='unknown' AND education!='unknown' AND (poutcome == 'failure' OR poutcome == 'success')")

In [0]:
df2=sql_results

In [0]:
df2.show(10)

+---+------------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+
|age|         job| marital|education|default|balance|housing|loan|campaign|pdays|previous|poutcome|deposit|
+---+------------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+
| 33|    services| married|secondary|     no|   3444|    yes|  no|       1|   91|       4| failure|    yes|
| 56|  technician| married|secondary|     no|    589|    yes|  no|       1|  147|       2| success|    yes|
| 34|      admin.| married| tertiary|     no|    899|    yes|  no|       1|  170|       3| failure|    yes|
| 53|     retired| married| tertiary|     no|   2269|     no|  no|       2|  150|       1| success|    yes|
| 37|  technician| married|secondary|     no|   5115|    yes|  no|       2|  171|       4| failure|    yes|
| 45|entrepreneur| married|secondary|     no|    781|     no| yes|       2|  126|       2| failure|    yes|
| 46|  unemployed|divorced|secondary|     no|   3354|    yes|  no|       1|  174|       1| success|    yes|
| 40|  management| married| tertiary|     no|   3352|    yes|  no|       2|   27|       1| success|    yes|
| 32|  technician| married| tertiary|     no|   4654|    yes| yes|       1|  128|       2| failure|    yes|
| 30| blue-collar| married|secondary|     no|    501|    yes| yes|       1|  177|       1| failure|    yes|
+---+------------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+
only showing top 10 rows

In [0]:
#Covert categorical features to metric features using One hot encoding
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,
                                OneHotEncoder,StringIndexer)

In [46]:
from pyspark.ml.feature import OneHotEncoderEstimator
from pyspark.ml import Pipeline
cat_vars=['job','marital','loan','default','education','housing','poutcome','deposit']
indexers=[StringIndexer(inputCol=c,outputCol="{0}_indexed".format(c)) for c in cat_vars]
encoders = [OneHotEncoder(inputCol=indexer.getOutputCol(),outputCol="{0}_encoded".format(indexer.getOutputCol()))for indexer in indexers]
assembler = VectorAssembler(inputCols=[encoder.getOutputCol() for encoder in encoders],outputCol="features")

pipeline = Pipeline(stages=indexers + encoders + [assembler])
model=pipeline.fit(df2)
transformed=model.transform(df2)
transformed.show(50)

+---+-------------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+-----------+---------------+------------+---------------+-----------------+---------------+----------------+---------------+-------------------+-----------------------+--------------------+-----------------------+-------------------------+-----------------------+------------------------+-----------------------+--------------------+
|age|          job| marital|education|default|balance|housing|loan|campaign|pdays|previous|poutcome|deposit|job_indexed|marital_indexed|loan_indexed|default_indexed|education_indexed|housing_indexed|poutcome_indexed|deposit_indexed|job_indexed_encoded|marital_indexed_encoded|loan_indexed_encoded|default_indexed_encoded|education_indexed_encoded|housing_indexed_encoded|poutcome_indexed_encoded|deposit_indexed_encoded|            features|
+---+-------------+--------+---------+-------+-------+-------+----+--------+-----+--------+--------+-------+-----------+---------------+------------+---------------+-----------------+---------------+----------------+---------------+-------------------+-----------------------+--------------------+-----------------------+-------------------------+-----------------------+------------------------+-----------------------+--------------------+
| 33|     services| married|secondary|     no|   3444|    yes|  no|       1|   91|       4| failure|    yes|        5.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[5],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[5,10,12,13,1...|
| 56|   technician| married|secondary|     no|    589|    yes|  no|       1|  147|       2| success|    yes|        1.0|            0.0|         0.0|            0.0|              0.0|            1.0|             1.0|            0.0|     (10,[1],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|               (1,[],[])|          (1,[0],[1.0])|(19,[1,10,12,13,1...|
| 34|       admin.| married| tertiary|     no|    899|    yes|  no|       1|  170|       3| failure|    yes|        2.0|            0.0|         0.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[2],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[2,10,12,13,1...|
| 53|      retired| married| tertiary|     no|   2269|     no|  no|       2|  150|       1| success|    yes|        4.0|            0.0|         0.0|            0.0|              1.0|            0.0|             1.0|            0.0|     (10,[4],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|          (1,[0],[1.0])|               (1,[],[])|          (1,[0],[1.0])|(19,[4,10,12,13,1...|
| 37|   technician| married|secondary|     no|   5115|    yes|  no|       2|  171|       4| failure|    yes|        1.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[1],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[1,10,12,13,1...|
| 45| entrepreneur| married|secondary|     no|    781|     no| yes|       2|  126|       2| failure|    yes|        9.0|            0.0|         1.0|            0.0|              0.0|            0.0|             0.0|            0.0|     (10,[9],[1.0])|          (2,[0],[1.0])|           (1,[],[])|          (1,[0],[1.0])|            (2,[0],[1.0])|          (1,[0],[1.0])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[9,10,13,14,1...|
| 46|   unemployed|divorced|secondary|     no|   3354|    yes|  no|       1|  174|       1| success|    yes|        7.0|            2.0|         0.0|            0.0|              0.0|            1.0|             1.0|            0.0|     (10,[7],[1.0])|              (2,[],[])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|               (1,[],[])|          (1,[0],[1.0])|(19,[7,12,13,14,1...|
| 40|   management| married| tertiary|     no|   3352|    yes|  no|       2|   27|       1| success|    yes|        0.0|            0.0|         0.0|            0.0|              1.0|            1.0|             1.0|            0.0|     (10,[0],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|               (1,[],[])|          (1,[0],[1.0])|(19,[0,10,12,13,1...|
| 32|   technician| married| tertiary|     no|   4654|    yes| yes|       1|  128|       2| failure|    yes|        1.0|            0.0|         1.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[1],[1.0])|          (2,[0],[1.0])|           (1,[],[])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[1,10,13,15,1...|
| 30|  blue-collar| married|secondary|     no|    501|    yes| yes|       1|  177|       1| failure|    yes|        3.0|            0.0|         1.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[3],[1.0])|          (2,[0],[1.0])|           (1,[],[])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[3,10,13,14,1...|
| 46|   technician| married| tertiary|     no|      0|     no|  no|       1|  167|       1| failure|    yes|        1.0|            0.0|         0.0|            0.0|              1.0|            0.0|             0.0|            0.0|     (10,[1],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|          (1,[0],[1.0])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[1,10,12,13,1...|
| 38| entrepreneur| married| tertiary|     no|   1110|    yes|  no|       2|  183|       2| failure|    yes|        9.0|            0.0|         0.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[9],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[9,10,12,13,1...|
| 32|     services| married|secondary|     no|    983|    yes|  no|       2|  133|       1| failure|    yes|        5.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[5],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[5,10,12,13,1...|
| 31|   unemployed| married|secondary|     no|    314|    yes|  no|       3|  178|       7| failure|    yes|        7.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[7],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[7,10,12,13,1...|
| 50|  blue-collar| married|  primary|     no|  12519|    yes|  no|       3|   34|       1| failure|    yes|        3.0|            0.0|         0.0|            0.0|              2.0|            1.0|             0.0|            0.0|     (10,[3],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|                (2,[],[])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[3,10,12,13,1...|
| 47|   technician| married|secondary|     no|      0|     no|  no|       1|   10|       1| failure|    yes|        1.0|            0.0|         0.0|            0.0|              0.0|            0.0|             0.0|            0.0|     (10,[1],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|          (1,[0],[1.0])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[1,10,12,13,1...|
| 59|   management| married| tertiary|     no|   7049|     no|  no|       1|  163|       2| failure|    yes|        0.0|            0.0|         0.0|            0.0|              1.0|            0.0|             0.0|            0.0|     (10,[0],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|          (1,[0],[1.0])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[0,10,12,13,1...|
| 31|   management| married|secondary|     no|   8629|    yes|  no|       1|  184|       2| failure|    yes|        0.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[0],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[0,10,12,13,1...|
| 53|  blue-collar| married|secondary|     no|   1777|    yes|  no|       5|  154|       1| failure|    yes|        3.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[3],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[3,10,12,13,1...|
| 40|   technician|  single| tertiary|     no|   1646|    yes|  no|       1|  242|       2| failure|    yes|        1.0|            1.0|         0.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[1],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[1,11,12,13,1...|
| 44|   unemployed| married|secondary|     no|      0|    yes|  no|       1|  272|       1| failure|    yes|        7.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[7],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[7,10,12,13,1...|
| 43|       admin.|  single|secondary|     no|   -247|    yes| yes|       2|   76|       4| failure|    yes|        2.0|            1.0|         1.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[2],[1.0])|          (2,[1],[1.0])|           (1,[],[])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[2,11,13,14,1...|
| 54|   technician|divorced|secondary|     no|   2156|    yes|  no|       1|  195|       4| failure|    yes|        1.0|            2.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[1],[1.0])|              (2,[],[])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[1,12,13,14,1...|
| 31|   management| married| tertiary|     no|   1331|     no|  no|       2|   90|       1| success|    yes|        0.0|            0.0|         0.0|            0.0|              1.0|            0.0|             1.0|            0.0|     (10,[0],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|          (1,[0],[1.0])|               (1,[],[])|          (1,[0],[1.0])|(19,[0,10,12,13,1...|
| 28|self-employed| married| tertiary|     no|      0|    yes|  no|       3|  196|       4| failure|    yes|        8.0|            0.0|         0.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[8],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[8,10,12,13,1...|
| 32|       admin.|  single|secondary|     no|    678|    yes|  no|       1|  246|       4| failure|    yes|        2.0|            1.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[2],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[2,11,12,13,1...|
| 41|self-employed|  single| tertiary|     no|    -94|    yes|  no|       1|  203|       1| failure|    yes|        8.0|            1.0|         0.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[8],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[8,11,12,13,1...|
| 31|   technician|  single| tertiary|     no|   1109|     no|  no|       1|  167|       2| failure|    yes|        1.0|            1.0|         0.0|            0.0|              1.0|            0.0|             0.0|            0.0|     (10,[1],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|          (1,[0],[1.0])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[1,11,12,13,1...|
| 26| entrepreneur|  single|secondary|     no|    101|    yes|  no|       1|  268|       1| failure|    yes|        9.0|            1.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[9],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[9,11,12,13,1...|
| 31|   management|  single| tertiary|     no|  12857|    yes|  no|       1|   92|       1| success|    yes|        0.0|            1.0|         0.0|            0.0|              1.0|            1.0|             1.0|            0.0|     (10,[0],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|               (1,[],[])|          (1,[0],[1.0])|(19,[0,11,12,13,1...|
| 33|  blue-collar|  single| tertiary|     no|    700|     no|  no|       1|   88|       1| success|    yes|        3.0|            1.0|         0.0|            0.0|              1.0|            0.0|             1.0|            0.0|     (10,[3],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|          (1,[0],[1.0])|               (1,[],[])|          (1,[0],[1.0])|(19,[3,11,12,13,1...|
| 34|       admin.| married|secondary|     no|      0|    yes|  no|       1|   85|       1| failure|    yes|        2.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[2],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[2,10,12,13,1...|
| 40|  blue-collar| married|secondary|     no|   5060|     no|  no|       2|   93|       1| success|    yes|        3.0|            0.0|         0.0|            0.0|              0.0|            0.0|             1.0|            0.0|     (10,[3],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|          (1,[0],[1.0])|               (1,[],[])|          (1,[0],[1.0])|(19,[3,10,12,13,1...|
| 37|       admin.| married|secondary|     no|   1314|    yes|  no|       4|  210|       3| failure|    yes|        2.0|            0.0|         0.0|            0.0|              0.0|            1.0|             0.0|            0.0|     (10,[2],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[2,10,12,13,1...|
| 33|   management|  single| tertiary|     no|   3552|     no|  no|       2|   85|       3| failure|    yes|        0.0|            1.0|         0.0|            0.0|              1.0|            0.0|             0.0|            0.0|     (10,[0],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|          (1,[0],[1.0])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[0,11,12,13,1...|
| 30|   management|  single| tertiary|     no|   5561|    yes|  no|       1|  100|       1| success|    yes|        0.0|            1.0|         0.0|            0.0|              1.0|            1.0|             1.0|            0.0|     (10,[0],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|               (1,[],[])|          (1,[0],[1.0])|(19,[0,11,12,13,1...|
| 60|      retired| married|secondary|     no|    404|     no|  no|       2|  196|       2| failure|    yes|        4.0|            0.0|         0.0|            0.0|              0.0|            0.0|             0.0|            0.0|     (10,[4],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|          (1,[0],[1.0])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[4,10,12,13,1...|
| 31|   management|divorced| tertiary|     no|    883|    yes|  no|       2|  106|       1| failure|    yes|        0.0|            2.0|         0.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[0],[1.0])|              (2,[],[])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[0,12,13,15,1...|
| 44|   management|  single| tertiary|     no|    483|     no|  no|       2|  199|       6| success|    yes|        0.0|            1.0|         0.0|            0.0|              1.0|            0.0|             1.0|            0.0|     (10,[0],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|          (1,[0],[1.0])|               (1,[],[])|          (1,[0],[1.0])|(19,[0,11,12,13,1...|
| 37|   unemployed|  single| tertiary|     no|   1316|    yes|  no|       2|  112|       3| failure|    yes|        7.0|            1.0|         0.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[7],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[7,11,12,13,1...|
| 37|     services|  single|secondary|     no|   1045|     no|  no|       2|   41|       1| failure|    yes|        5.0|            1.0|         0.0|            0.0|              0.0|            0.0|             0.0|            0.0|     (10,[5],[1.0])|          (2,[1],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[0],[1.0])|          (1,[0],[1.0])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[5,11,12,13,1...|
| 30|   management| married| tertiary|     no|   8089|    yes|  no|       2|  294|       2| failure|    yes|        0.0|            0.0|         0.0|            0.0|              1.0|            1.0|             0.0|            0.0|     (10,[0],[1.0])|          (2,[0],[1.0])|       (1,[0],[1.0])|          (1,[0],[1.0])|            (2,[1],[1.0])|              (1,[],[])|           (1,[0],[1.0])|          (1,[0],[1.0])|(19,[0,10,12,13,1...|

In [0]:
job_indexer = StringIndexer(inputCol='job',outputCol='jobIndex')

In [33]:
job_encoder = OneHotEncoder(inputCol='jobIndex',outputCol='jobVec')
job_encoder

OneHotEncoder_b50befd53d36

In [0]:
martial_indexer = StringIndexer(inputCol='marital',outputCol='maritalIndex')

In [0]:
martial_encoder = OneHotEncoder(inputCol='maritalIndex',outputCol='maritalVec')

In [0]:
education_indexer = StringIndexer(inputCol='education',outputCol='educationIndex')
education_encoder = OneHotEncoder(inputCol='educationIndex',outputCol='educationVec')

In [0]:
default_indexer = StringIndexer(inputCol='default',outputCol='defaultIndex')
default_encoder = OneHotEncoder(inputCol='defaultIndex',outputCol='defaultVec')

In [0]:
housing_indexer = StringIndexer(inputCol='housing',outputCol='housingIndex')
housing_encoder = OneHotEncoder(inputCol='housingIndex',outputCol='housingVec')

In [0]:
loan_indexer = StringIndexer(inputCol='loan',outputCol='loanIndex')
loan_encoder = OneHotEncoder(inputCol='loanIndex',outputCol='loanVec')

In [0]:
poutcome_indexer = StringIndexer(inputCol='poutcome',outputCol='poutcomeIndex')
poutcome_encoder = OneHotEncoder(inputCol='poutcomeIndex',outputCol='poutcomeVec')

In [0]:
deposit_indexer = StringIndexer(inputCol='deposit',outputCol='depositIndex')
deposit_encoder = OneHotEncoder(inputCol='depositIndex',outputCol='depositVec')

In [0]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [0]:
assembler = VectorAssembler(inputCols=['age',
 'jobVec',
 'maritalVec',
 'educationVec',
 'defaultVec',
 'balance',
 'housingVec',
 'loanVec',
 'campaign',
 'pdays',
 'previous',
 'poutcomeVec',
 'depositVec'],outputCol='features')

In [45]:
output=assembler.transform(sql_results)

IllegalArgumentException: ignored

## 3.1 normalisation

In [0]:
df3=df2

In [0]:
#Apply Min-Max normalisation on each attribute using MinMaxScaler  
from pyspark.ml.feature import MinMaxScaler
#scaler = MinMaxScaler(inputCol="features",outputCol="scaledFeatures")

In [56]:
norm_vars=['job_indexed_encoded','marital_indexed_encoded','loan_indexed_encoded','default_indexed_encoded','education_indexed_encoded','housing_indexed_encoded','poutcome_indexed_encoded','deposit_indexed_encoded']
scaler=[MinMaxScaler(inputCol=scale_features,outputCol=scale_features+"SCALED")for scale_features in norm_vars]
pipeline=Pipeline(stages=scaler)
scalerModel=pipeline.fit(df3)
scaledData=scalerModel.transform(df3)

IllegalArgumentException: ignored

# 4.Unsupervised learning

## 4.1 K-means

In [0]:
# Perform unsupervised learning on df2 with k-means 
# You can use whole df2 as both training and testing data, 
# Evaluate the clustering result using Accuracy.  
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [0]:
from pyspark.ml import Pipeline
kmeans_bank=KMeans(featuresCol='features').setK(2).setSeed(742)

In [0]:
pipeline = Pipeline(stages=[job_indexer,martial_indexer,education_indexer,default_indexer,housing_indexer,loan_indexer,poutcome_indexer,
                            job_encoder,martial_encoder,education_encoder,default_encoder,housing_encoder,loan_encoder,poutcome_encoder,
                           assembler,kmeans_bank])

In [0]:

train_bank_data, test_bank_data = df2.randomSplit([0.7,.3])

In [0]:
fit_model = pipeline.fit(train_bank_data)

IllegalArgumentException: ignored

In [0]:
results = fit_model.transform(test_bank_data)

In [0]:
my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                       labelCol='deposit')

In [0]:
results.select('deposit','prediction').show()

In [0]:
AUC = my_eval.evaluate(results)
AUC

## 4.2 PCA

In [0]:
#Generate a scatter plot using the first two PCA components to investigate the data distribution.
from pyspark.ml.feature import PCA
from pyspark.ml.linalg import Vectors

In [0]:
pca = PCA(k=2, inputCol='features', outputCol='pcaFeature')

In [0]:
from pyspark.mllib.linalg.distributed import RowMatrix

In [0]:
mat = RowMatrix(rows)

In [0]:
# Compute the top 4 principal components.
# Principal components are stored in a local dense matrix.
pc = mat.computePrincipalComponents(4)

In [0]:
# Project the rows to the linear space spanned by the top 4 principal components.
projected = mat.multiply(pc)

# 5.Supervised learning

In [0]:
train, test = df2.randomSplit([0.7, 0.3], seed = 742)
print("Training Dataset Count: " + str(train.count()))
print("Test Dataset Count: " + str(test.count()))

## 5.1 LogisticRegression

In [0]:
# Logistic Regression
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [0]:
log_reg_bank = LogisticRegression(featuresCol='features',labelCol='deposit')

In [0]:
pipeline = Pipeline(stages=[job_indexer,martial_indexer,education_indexer,default_indexer,housing_indexer,loan_indexer,poutcome_indexer,deposit_indexer,
                            job_encoder,martial_encoder,education_encoder,default_encoder,housing_encoder,loan_encoder,poutcome_encoder,deposit_encoder,
                           assembler,kmeans_bank])

In [0]:
train_bank_data, test_bank_data = df2.randomSplit([0.7,.3])

In [0]:
fit_model = pipeline.fit(train_bank_data)

IllegalArgumentException: ignored

In [0]:
results = fit_model.transform(test_bank_data)

In [0]:
my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction',
                                       labelCol='deposit')

In [0]:
results.select('deposit','prediction').show()

In [0]:
AUC = my_eval.evaluate(results)
AUC

In [0]:
#Exam the coefficients

## 5.2 Decision tree

In [0]:
#Decision tree
from pyspark.ml.classification import DecisionTreeClassifier

In [0]:
dtc=DecisionTreeClassifier(labelCol='deposit',featuresCol='features')

In [0]:
dtcmodel=dtc.fit(train)

In [0]:
dtc_predictions=dtcmodel.transform(test)

In [0]:
dtc_evaluator=MulticlassClassificationEvaluator(labelCol="label",predictionCol="prediction",metricName="accuracy")

In [0]:
dtc_accuracy=dtc_evaluator.evaluate(dtc_predictions)

## 5.3 NaiveBayes

In [0]:
#NaiveBayes
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [0]:
nb=NaiveBayes(modelType="multinomial")

In [0]:
nbmodel=nb.fit(train)

In [0]:
nb_predictions=nbmodel.transform(test)

In [0]:
nb_evaluator=MulticlassClassificationEvaluator(labelCol="label",predictionCol="prediction",metricName="accuracy")

In [0]:
nb_accuracy=nb_evaluator.evaluate(nb_predictions)